{
font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
background: transparent;
color: #d8cab8;
}

#window {
    color: #d8cab8;
    border-color: #d8cab8;
    border-style: solid;
    border-width: 2px;

    background-image: linear-gradient(to bottom, #121212 100%);
    border-radius: 14px;
    border-width: 1px;
}

#entry:selected {
    background: #f;
    color: #d8cab8;
    font-weight: bold;
    outline: none;
}

#input {
    background-color: #121212;
    color: #d8cab8;
    border-color: #d8cab8;

    border-style: none;
    border-bottom-style:solid ;
    border-width: 1px;
    font-style: normal;
    border-radius: 8;




}